#subject li {display:inline}
#subject .first {margin-right:1em}
#content-core .pat-structure .navbar {z-index:4}
#edit-zone .plone-toolbar-logo {
	background-color:#5e1900;
}
div#edit-zone .plone-toolbar-container {background-color:#5e1900;}
div#edit-zone .plone-toolbar-container a:hover {background-color:#8e2600;}
#edit-zone .plone-toolbar-container nav>ul>li.active>a {background-color:#8e2600;}
.plone-toolbar-left #edit-zone .plone-toolbar-container #personal-bar-container {background-color:#5e1900;}
.plone-toolbar-left #edit-zone nav>ul ul>* {background-color:#5e1900;}
.plone-toolbar-expanded #edit-zone .plone-toolbar-container li:not(.active) a:hover>span {background-color:transparent;}
.outer-wrapper nav#content-header .plone-navbar .navbar-fixed-top {
	background-color:#5e1900;
}